.container{
    margin: 30px auto 0 auto;
    border: 3px solid lightblue;
    border-radius: 5px;
    max-width: 300px;
}
.city-selection{
    display: block;
    margin: 20px auto 20px auto;
}
.city-name{
    color: rgb(127, 197, 255);
    font-weight: 700;
}
.city-name, .temperature-air, .wind, .pressure-air, .clouds, .icon{ 
    text-align: center;
    font-family: Arial, sans-serif;
}
.icon{
    margin: 0;
}
hr{
    width: 80%;
}